<h2>
  <%= @project.title %> Items
    <%= link_to(edit_project_path(@project), html_options = {:class => "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--mini-fab"}) do %>
    <i class="material-icons">edit</i>
  <% end %>
</h2>

<%= render :partial => 'items/index', :locals => { :project => @project } %>