/* HTML5 reset */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

/* end HTML5 reset */

/* reset */
body, p, h1, h2, h3, h4, h5, h6, ul, li, form {
  margin: 0;
  padding: 0;
  line-height: 18px;
}
p, h2, h3, h4, h5, h6 {
  margin-bottom: 18px;
}
/* end reset */

/* font stacks */
body {
    font-family: Baskerville, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4, h5 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}
/* end font stacks */

body {
  width: 900px;
  margin: 0px auto;
  background-color: white;
}

nav {
  li {
    list-style: none;
  }
}

main {
  padding: 15px;
}

/* mdl page content */

.mdl-grid {
  padding: 0 !important;

  .mdl-card {
    width: 100%;
  }
}

.mdl-menu__title {
  padding: 16px 16px 8px 16px;
  text-transform: uppercase;
  color: #808080;
  margin-top: 0;
}

.page-content h2 {
  font-size: 36px;
}

.page-content h2 .mdl-button--mini-fab {
  float: right;
  margin-top: 4px;
  margin-left: 10px;
}