// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-items {
  margin-bottom: 20px;

  li {
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 18px;
  }

  li a {
    text-decoration: none;
  }

  li.done {
    text-decoration: line-through;
  }

  li.not-done form {
    float: right;
  }

  li.not-done .mdl-button {
    height: auto;
    line-height: normal;
  }
}